!.gitignore
!.gitattributes
!.travis.yml
!.pep8speaks.yml
*.pyc
*.log
venv
venv3
docs/build
dist
*.egg-info
build
dev/
*.aux
.Rproj.user
.RData
.Rhistory
ms/partisan_vision.bbl
ms/partisan_vision.synctex.gz
